{% extends 'base.html' %} 
{% load static %}
{% block title%} About {% endblock%}
{% block body %}

<div class="container">
  <div class="text-center">
    <h1>ABOUT US</h1>
    <img class="img-fluid rounded" src="{% static 'images/team.png' %}" alt="" />
  </div>

  <div class="text-center mt-5 mb-5">
    <h2>MY BOLGS TEAM</h2>
    <p>
      <i
        >This is the best ipsum dolor sit amet consectetur adipisicing elit. Ea, pariatur
        ut cupiditate sapiente harum impedit illo minima corrupti laudantium
        nihil esse veniam dicta, unde sit velit error nulla. Quos nulla
        dignissimos minus, repudiandae ex odio adipisci laboriosam reiciendis
        repellat blanditiis soluta consectetur vero dolore minima, numquam odit
        aliquam esse officiis pariatur. Incidunt, sit. Quo architecto at,
        placeat consequuntur voluptate alias saepe exercitationem tempora
        adipisci modi tempore maiores explicabo debitis eius deleniti dolorem
        officiis repellendus sapiente atque possimus quis vero quos. Fuga libero
        ad debitis autem! Accusamus necessitatibus quos aliquid<br />
        quaerat obcaecati assumenda quo aperiam et perspiciatis consectetur
        exercitationem reprehenderit dicta temporibus rem molestiae nobis
        facilis sed, dolore est eos id repellendus nostrum corrupti tempore?
        Nihil velit temporibus eveniet est, ad quas unde provident officia
        aliquam nobis iusto dicta laboriosam? Et tenetur exercitationem omnis
        fugit amet harum rerum delectus architecto doloremque id fuga dolores
        quam quae labore neque, unde consequuntur placeat accusantium iusto,
        natus recusandae libero itaque. Illo ducimus labore hic atque at vel
        repellendus ad laudantium. Corporis, asperiores? Rerum dolores ipsum
        beatae eveniet perferendis, debitis dolor. Sint at quos aperiam. Sequi
        asperiores doloremque autem, deleniti adipisci numquam, labore, corporis
        fugit amet ab dolor magnam repudiandae voluptate accusantium error earum
        perspiciatis.</i
      >
    </p>

    <div class="container">
      <div class="text-center">
        <h1>Meet our CEO</h1>
        <img class="img-fluid rounded" src="{% static 'images/ceo.jpg' %}" alt="" />
      </div>
      <div class="text-center mt-5 mb-5">
        <div class="mt-4 mb-5 text-left">
          <h2><i>Dr Severin Schwan</i></h2>

          <p>
            <i
              >Our team is ipsum dolor sit amet consectetur adipisicing elit. Ea,
              pariatur ut cupiditate sapiente harum impedit illo minima corrupti
              laudantium nihil esse veniam dicta, unde sit velit error nulla.
              Quos nulla dignissimos minus, repudiandae ex odio adipisci
              laboriosam reiciendis repellat blanditiis soluta consectetur vero
              dolore minima, numquam odit aliqquaerat obcaecati assumenda quo
              aperiam et perspiciatis consect est eos id repellendus nostrum
              corrupti tempore? Nihil velit temporibus eveniet est, ad quas unde
              provident officia aliquam nobis iusto dicta laboriosam? Et tenetur
              exercitationem omnis fugit amet harum rerum delectus architecto
              doloremque id fuga dolores quam quae labore neque, unde
              consequuntur placeat accusantium iusto, natus recusandae libero
              itaque. Illo ducimus labore hic atque at vel repellendus ad
              laudantium. Corporis, asperiores? Rerum dolores ipsum beatae
              eveniet perferendis, debitis dolor. Sint at quos aperiam. Sequi
              asperiores doloremque autem, deleniti adipisci numquam, labore,
              corporis fugit amet ab dolor magnam repudiandae voluptate
              accusantium error earum perspiciatis.</i
            >
          </p>
        </div>

        {% endblock %}
      </div>
    </div>
  </div>
</div>
